// Font Inter

@font-face {
  font-family: 'Inter';
  src: url('@/shared/assets/fonts/Inter/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('@/shared/assets/fonts/Inter/Inter-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('@/shared/assets/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 800;
}

// Font Montserrat

@font-face {
  font-family: 'Montserrat';
  src: url('@/shared/assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/shared/assets/fonts/Montserrat/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/shared/assets/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/shared/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-weight: 800;
}