// импорт шрифтов
@use './fonts.scss';
@use '@/shared/styles' as *;

body {
  @extend %flex-center;
  background-color: $color-site;
}

@media (prefers-reduced-motion: no-preference) {
  #root {
    scroll-behavior: smooth;
  }
}


main {
  padding-top: 20px;
}


#root {
  min-width: 1440px;
  height: auto;
}

@media (max-width: $content-size-1) {
  #root {
    min-width: 100vw;
  }
}