// импорт шрифтов
@use './fonts.scss';
@use '@/shared/styles' as *;

body {
  @extend %flex-center;
  background-color: var(--color-content);
}

@media (prefers-reduced-motion: no-preference) {
  #root {
    scroll-behavior: smooth;
  }
}


.page {
  @include fade-in(0.5s);
}


#root {
  min-width: 100vw;
  height: auto;
}
