@use '@/shared/styles/vars' as *;
@use '@/shared/styles/animations' as *;

.panel {
  width: 396px;
  height: 100%;
  background-color: var(--color-bg);
  padding: 30px 40px;
  animation: move .5s ease-in-out;
  font-family: 'Montserrat';
  color: var(--color-text);
  &__header {
    font-weight: 700;
    font-size: 25px;
  }
  &__text {
    font-weight: 500;
    font-size: 15px;
  }
}

@media (max-width: $content-size-1) {
  .panel {
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 1001;
    background-color: transparent;
    &_active {
      display: flex;
    }
  }
}

@media (max-width: $content-size-2) {
  .panel {
    left: (100vw * 0.25);
  }
}
@media (max-width: $content-size-4) {
  .panel {
    width: 300px;
    left: (100vw * 0.2);
    &__header {
      font-size: 15px;
    }
    &__text {
      font-size: 10px;
    }
  }
}