@use '@/shared/styles/vars' as *;
@use '@/shared/styles/animations' as *;
@use '@/shared/styles/placeholders' as *;


.panel {
  @extend %flex-col;
  gap: 20px;
  width: 396px;
  height: 100%;
  background-color: var(--color-bg);
  padding: 30px 40px;
  animation: move .5s ease-in-out;
  font-family: 'Montserrat';
  color: var(--color-text);
  &__header {
    font-weight: 700;
    font-size: 22px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
  }
}



.btn {
  width: 100%;
  height: 35px;
  background-color: $color-purple;
  border-radius: 10px;
  font-weight: 500;
  transition: $st-trans;
  color: white;
  &:hover {
    box-shadow: 0px 0px 20px $color-purple;
  }
}

.form {
  @extend %flex-col;
  gap: 10px;
}

.priorityTabs {
  display: flex;
  gap: 10px;
}

.prioritySection {
  @extend %flex-col;
  gap: 10px;
}


.btnClose {
  @extend %flex-center;
  background-color: $color-purple;
  width: 50px;
  min-height: 50px;
  transition: .3s;
  color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 20px $color-purple;
  }
}


@media (max-width:$content-size-1) {
  .panel {
    display: none;
  }
}

@media (max-width: $content-size-3) {
  .priorityTabs {
    flex-direction: column;
  }
}
