@use '@/shared/styles' as *;

.sidebar {
  @extend %flex-items-center;
  width: 94px;
  min-height: 100vh;
  background-color: var(--color-bg);
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.nav {
  width: 55px;
}
.logout {
  height: 59px;
  padding-left: 15px;
  cursor: pointer;
  &__text {
    font-family: 'Inter';
    font-weight: 500;
    font-size: $fz-h3;
    color: white;
    transition: .3s;
  }
}