@use '@/shared/styles/placeholders' as *;
@use '@/shared/styles/vars' as *;

.container {
  @extend %flex-center;
  width: 233px;
  height: 54px;
  padding: 15px;
  background-color: var(--color-content);
  border-radius: 16px;
  transition: .3s;
  cursor: pointer;
  &_active,&:hover {
    background-color: var(--color-bg);
  }
}
.content {
  @extend %flex-between;
  flex: 1;
}
.text {
  color: var(--color-task-header);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
}
.label {
  @extend %flex-center;
  min-width: 24px;
  width: fit-content;
  height: 24px;
  border-radius: 5px;
  background-color: $color-purple;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
}

@media (max-width: 870px) {
  .container {
    width: 150px;
  }
}
