@use '@/shared/styles/vars' as *;
@use '@/shared/styles/placeholders' as *;


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}
.wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
  // overflow: scroll;
  overflow: hidden;
  padding-bottom: 10px;
  // scroll-behavior: smooth;
}

.btn {
  @extend %flex-center;
  background-color: $color-purple;
  width: 50px;
  height: 50px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  border-radius: 12px;
  transition: .3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 20px $color-purple;
  }
}