@use '@/shared/styles' as *;

.display {
  @extend %flex-center;
  height: 135px;
  width: 173px;
  gap: 5px;
  color: #FFFFFF;
  font-family: 'Inter';
  flex-direction: column;
}

.name {
  font-weight: 800;
  font-size: $fz-h2;
}
.username {
  font-weight: 400;
  font-size: $fz-h2;
}