@use '@/shared/styles' as *;

.header {
  @extend %flex-center;
  width: 100%;
  background-color: var(--color-bg);
  &__content {
    width: calc(100vw - 50px);
    height: 76px;
  }
}

.responsive-wrapper {
  display: contents;
}

@media (max-width: $content-size-4) {
  .responsive-wrapper {
    display: none;
  }
  .header {
    &__content {
      justify-content: space-between;
    }
  }
}