@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@mixin fade-in($duration: 0.3s) {
  animation: fadeIn $duration ease-in-out;
}