//  colors

$color-red: #FF6767;
$color-orange: #F24E1E;
$color-beige: #F8F8F8;
$color-gray: #A1A3AB;
$color-gray-2: #768396;
$color-yellow: #ffb800;
$color-white: #f0f1fb;
$color-black: #212d31;
$color-purple: #5051F9;
$color-blue: #23b2ff;

// font sizes

$fz-h1: 36px;
$fz-h2: 24px;
$fz-h3: 16px;
$fz-h4: 12px;


// screen sizes
$content-size-1: 1439px;
$content-size-2:1040px;
$content-size-3: 698px;
$content-size-4: 556px;


$st-trans: 0.3s;