@use '@/shared/styles/animations' as *;
@use '@/shared/styles/placeholders' as *;

.loader {
  @extend %flex-center;
  gap: 8px;
}

.spinner {
  @include spin(1s);
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
}
