@use '@/shared/styles' as *;


.btn_default {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: $color-white;

  border-radius: 6px;

  background-color: $color-orange;

  min-width: 131px;
  min-height: 34px;
}
.btn_square {
  @extend %flex-center;
  width: 36px;
  height: 36px;
  background-color: $color-red;
  border-radius: 6px;

  border: none;
  transition: .3s;

  &:hover {
    box-shadow: 0px 0px 10px $color-orange;
  }
}