@use '@/shared/styles' as *;

.wrapper {
  @extend %flex-col;
  gap: 5px;
}

.input {
  @extend %clear-outline-input;
  width: 300px;
  height: 40px;
  background-color: var(--color-content);
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text);
}

.label {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  color: var(--color-texrt);
}