@use '@/shared/styles' as *;

.wrapper {
  @extend %flex-col;
  gap: 5px;
}

.input {
  @extend %clear-outline-input;
  width: 300px;
  height: 40px;
  background-color: var(--color-content);
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text);
  &_error {
    border-color: #ff4444 !important;
    box-shadow: 0 0 0 1px #ff4444;
  }
}

.errorText {
  color: #ff4444;
  font-size: 12px;
}

.label {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  color: var(--color-texrt);
}

@media (max-width: $content-size-3) {
  .input {
    width: 220px;
  }
}