@use '@/shared/styles/vars' as *;


.container {
  font-family: 'Montserrat';
  font-weight: 500;
}
.day__text {
  font-size: 15px;
  color: var(--color-text);
}
.date__text {
  font-size: 14px;
  color: $color-purple;
}