@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/placeholders' as *;
@use '@/shared/styles/vars' as *;

.container {
  width: 100%;
  height: 370px;
  border-radius: 16px;
  background-color: var(--color-bg);
  padding: 24px;
  font-family: 'Montserrat';
  color: var(--color-text);
}

.content {
  @include flex-gap(25px,column);
  width: 809px;
}

.header {
  @extend %flex-between;
  width: 100%;
  height: 39px;
  align-items: center;
}

.main-text {
  font-weight: 700;
  font-size: 24px;
}
.text {
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
}
.period {
  display: block;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-blue;
    position: absolute;
    left: 0;
    top: 90%;
    transition: .3s;
    transform: scaleX(0);
  }
  &:hover::after, &_active::after {
    transform: scaleX(1);
  }
  &:hover, &_active {
    color: $color-blue;
  }
}
.chart {
  width: 100%;
  height: 280px;
}

@media (max-width: $content-size-2) {
  .content {
    width: 516px;
  }
}

@media (max-width: $content-size-3) {
  .container {
    padding: 10px;
  }
  .content {
    width: 274px;
  }
  .main-text {
    font-size: 14px;
  }
  .text {
    font-size: 12px;
  }
  .wrapper_period {
    gap: 10px;
  }
}
