@use '@/shared/styles' as *;

.circular-progress {
  @extend %flex-inline-center;
  flex-direction: column;
}

.progress-svg {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.track {
  transition: stroke 0.3s ease;
}

.progress {
  transition: 
    stroke-dashoffset var(--animation-duration) ease-in-out,
    stroke 0.3s ease;
}
.progress-text {
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  color: black;
}
.label-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.label-text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
}