@use '@/shared/styles' as *;

.card {
  @extend %flex-center;
  min-width: 365px;
  height: 200px;
  border-radius: 14px;
  border: 1px solid $color-gray;
  &__content {
    @extend %flex-col;
    gap: 5px;
    min-width: 350px;
    height: 150px;
  }
  &__head {
    @extend %flex-row;
    gap: 15px;
  }
  &__circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  &__header {
    font-family: 'Inter';
    font-weight: 800;
    font-size: $fz-h3;
    color: black;
    flex: 1;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  &__text {
    @extend %flex-items-center;
  }
  &__descript {
    color: #747474;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    max-width: 250px;

    display: -webkit-box;          // Активируем блочную модель для WebKit
    -webkit-box-orient: vertical;  // Вертикальное направление контента
    -webkit-line-clamp: 3;         // Ограничение в 3 строки
    overflow: hidden;              // Скрываем выходящий за пределы текст
    text-overflow: ellipsis;       // Добавляем многоточие
    word-wrap: break-word;         // Перенос длинных слов
  }
  &__img {
    object-fit: cover;
    width: 88px;
    height: 88px;
    border-radius: 14px;
  }

  &__info {
    @extend %flex-between;
  }

  &__label {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    &_gray {
      color: $color-gray;
    }
  }
}
